.about-section {
  gap: 1rem;
  padding: 1rem;
  display: flex;
  height: 100dvh;
  align-items: center;
  width: calc(100dvw - 7rem);
  background-color: #2c2a3e;
  justify-content: space-between;

  img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
  }

  .info-card {
    gap: 2rem;
    width: 19rem;
    height: 19rem;
    display: flex;
    padding: 0 1rem;
    color: #fff3f9;
    text-wrap: balance;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    background-color: #fff3f949;

    h3 {
      font-family: "Aboreto";

      @media screen and (max-width: 576px) {
        font-size: 0.8rem;
      }

      @media (min-width: 576px) and (max-width: 768px) {
        font-size: 0.8rem;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        font-size: 0.9rem;
      }
    }

    p {
      text-wrap: pretty;
      font-family: "Abeezee";
    }

    &:last-child {
      position: relative;
    }
  }

  .info-card-register {
    right: 0;
    top: 25rem;
    width: 40rem;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-family: "Abeezee";
    }

    button {
      width: 12rem;
      height: 2.5rem;
      border: none;
      font-size: 1.2rem;
      border-radius: 0.4rem;
      font-family: "Aboreto";
      background-color: #ffb3c6;
    }
  }

  &.in-view {
    animation: SliderLeft 1s linear 0s 1 normal forwards;
  }

  @media screen and (max-width: 576px) {
    gap: 0.2rem;
    padding: 0.15rem;
    width: calc(100vw - 5rem);

    img {
      width: 10rem;
      height: 10rem;
    }

    .info-card {
      gap: 0.3rem;
      width: 11rem;
      height: 11rem;
      padding: 0.1rem;
      border-radius: 0.5rem;

      p {
        font-size: 0.5rem;
      }
    }

    .info-card-register {
      justify-content: end;

      h2 {
        font-size: 0.9rem;
      }
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    gap: 0.3rem;

    img {
      width: 13rem;
      height: 13rem;
    }

    .info-card {
      gap: 0.3rem;
      width: 11rem;
      height: 11rem;
      padding: 0.1rem;

      h3 {
        font-size: 0.8rem;
      }

      p {
        font-size: 0.5rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    gap: 0.5rem;

    img {
      width: 15rem;
      height: 15rem;
    }

    .info-card {
      gap: 0.5rem;
      width: 15rem;
      height: 15rem;
      padding: 0.1rem;
      border-radius: 0.5rem;

      h3 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.7rem;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    gap: 0.3rem;

    .info-card {
      gap: 0.7rem;

      h3 {
        font-size: 1rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
