@import url(https://fonts.googleapis.com/css2?family=Aboreto&display=swap);
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");

.home {
  overflow: scroll;
  width: calc(100vw - 7rem);
  background-color: #2c2a3e;
  height: calc(100vh - 3.5rem);

  @media screen and (max-width: 576px) {
    width: calc(100vw - 5rem);
  }
}
