.cta-section {
  display: flex;
  height: 100dvh;
  width: calc(100vw - 7rem);
  background-color: #2c2a3e;
  height: calc(100dvh - 3.5rem);

  .cta-left {
    flex: 1;
    gap: 2rem;
    // width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 3rem;
      color: #ffb3c6;
      font-family: "Aboreto";
    }

    p {
      width: 45%;
      color: #fff3f9;
      text-wrap: balance;
      font-family: "Abeezee";
    }

    .cta-button {
      width: 10rem;
      height: 3rem;
      display: flex;
      color: #fff3f9;
      align-items: center;
      border-radius: 0.5rem;
      font-family: "Abeezee";
      justify-content: center;
      border: 0.1rem solid #fff3f9;
    }
  }

  .cta-right {
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .cta-image {
      width: 25rem;
      height: 25rem;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      background-color: #f2e3d577;

      img {
        width: 25rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 5rem;
        border: 0.1rem solid #ffb3c6;
        transform: rotate(-15deg);
      }
    }
  }

  @media screen and (max-width: 576px) {
    .cta-left {
      h1 {
        font-size: 2rem;
      }

      p {
        width: 50%;
      }
    }

    .cta-right {
      .cta-image {
        width: 20rem;
        height: 20rem;
      }
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    .cta-left {
      h1 {
        text-wrap: balance;
      }

      p {
        width: 55%;
      }
    }

    .cta-right {
      .cta-image {
        width: 20rem;
        height: 20rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .cta-left {
      h1 {
        text-wrap: balance;
      }

      p {
        width: 55%;
      }
    }

    .cta-right {
      .cta-image {
        width: 20rem;
        height: 20rem;
      }
    }
  }

  &.in-view {
    animation: SliderLeft 1s linear 0s 1 normal forwards;
  }
}
