@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes Observe {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Slide {
  from {
    width: 4.5rem;
  }
  to {
    width: 6rem;
  }
}

@keyframes Slider {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes SliderLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes SliderUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes SliderDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes SlideIn {
  from {
    right: 1%;
    opacity: 0;
    scale: 0.3;
  }
  to {
    right: 5%;
    opacity: 1;
    scale: 1;
  }
}

@keyframes SlideOut {
  from {
    right: 5%;
    opacity: 0;
  }
  to {
    right: 1%;
    opacity: 1;
  }
}

@keyframes ZoomIn {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;

  button,
  svg {
    cursor: pointer;
  }
}
