.gallery-section {
  display: flex;
  height: 100dvh;
  align-items: center;
  width: calc(100vw - 7rem);
  background-color: #2c2a3e;
  height: calc(100dvh - 3.5rem);

  .gallery-images,
  .socials {
    flex: 1;
    display: flex;
    height: 38rem;
  }

  .gallery-images {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100%;

    .gallery-left {
      gap: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .image {
        width: 12rem;
        height: 12rem;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    .gallery-right {
      //   gap: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .image {
        width: 17rem;
        height: 24rem;
        object-fit: cover;
        border-radius: 1rem;

        &:last-child {
          height: 13rem;
        }
      }
    }
  }

  .socials {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      width: 60%;
      font-size: 4rem;
      color: #b5a2a8;
      font-family: "Aboreto";
    }

    p {
      width: 50%;
      color: #fff3f9;
      font-family: "Abeezee";
    }

    .link {
      width: 20rem;
      height: 3rem;
      display: flex;
      align-items: center;
      border: 0.1rem solid;
      border-radius: 0.5rem;

      h4 {
        width: 100%;
        padding: 0 0.5rem;
        font-family: "Abeezee";
      }

      svg {
        padding: 0.1rem;
        font-size: 3rem;
        border: 0.1rem solid;
        border-right: none;
        border-radius: 0.5rem;
      }

      &.insta {
        color: #ffb3c6;
      }

      &.twitter {
        color: #fff3f9;
      }

      &.tiktok {
        color: #d9d9d9;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .gallery-images {
      .gallery-left {
        .image {
          width: 7rem;
          height: 17rem;
        }
      }

      .gallery-right {
        .image {
          width: 10rem;
          height: 24.5rem;
        }
      }
    }

    .socials{
      gap: 0.5rem;
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }

      h4 {
        font-size: 1rem;
      }

      svg {
        font-size: 2rem;
      }

      .link{
        width: 13rem;
        font-size: 1.5rem;
      }
    }
  }
  
  @media (min-width:576px) and (max-width: 768px) {
    .gallery-images {
      .gallery-left {
        .image {
          width: 7rem;
          height: 17rem;
        }
      }

      .gallery-right {
        .image {
          width: 10rem;
          height: 24.5rem;
        }
      }
    }

    .socials{
      gap: 0.5rem;
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }

      h4 {
        font-size: 1rem;
      }

      svg {
        font-size: 2rem;
      }

      .link{
        width: 13rem;
        font-size: 1.5rem;
      }
    }
  }

  @media (min-width:768px) and (max-width: 992px) {
    .gallery-images {
      .gallery-left {
        .image {
          width: 19dvw;
          // height: 7dvh;
        }
      }

      .gallery-right {
        .image {
          width: 25dvw;
          height: 24.5rem;
        }
      }
    }

    .socials{
      gap: 0.5rem;
      
      h1 {
        font-size:3rem;
      }

      p {
        font-size: 1rem;
      }

      h4 {
        font-size: 1rem;
      }

      svg {
        font-size: 2rem;
      }

      .link{
        width: 35dvw;
        font-size: 1.5rem;
      }
    }
  }

  &.in-view {
    .gallery-images {
      animation: SliderLeft 1s linear 0s 1 normal forwards;
    }

    .socials {
      animation: Slider 1s linear 0s 1 normal forwards;
    }
  }
}
